body{
  background-image: url(bg1.jpg);
  background-size: cover;
}
.wrapper{
  text-align: center;
  font-family:Century Gothic;
  padding: 20px;
  width:350px;
  height: 50px;
  margin: 0 auto;
  margin-top: 15%;
  background-color: rgb(255, 255, 204,0.9);
  border-radius: 15px;
}
a
{
  color: black;
  text-decoration: none;
}
