html, body, h1, p {
    margin:0 ;
    padding:0 ;
  }
  body{
    background-image: url(uni.jpg);
    background-size: cover;
  }
  img{
    width: 50%;
    height: 36%;
    margin: 0 80px 0 80px;
  }
.text {
  position:absolute;

}
  * {
    box-sizing: border-box;
  }
  label{
    display: block;

  }
  *:focus{
    outline: none;
 border-bottom:solid #B0C4DE;
  }

  .form{
    font-family:Century Gothic;
    background-color: white;
    padding: 20px;
    width:350px;
    height: 430px;
    margin: 0 auto;
    margin-top: 7%;
    background-color: rgb(255,255,224, 0.7);
    border-radius: 15px;
  }

  .form-input{
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    font-family:Calibri (Body)  ;
    border-bottom: 2px solid #333;
    padding: 5px 0px;
    transition: 0.3s;
    background-color:rgb(220,220,220, 0.6);
    border-radius: 13px;
    text-align: center;
  }

  form{
    width: 100%;
    padding: 10px;
  }

  .form-input:focus{
    border-color: #fff;
  }

  textarea, select{
    border: 2px solid #333;
    padding: 5px;
    padding-left: 5px;
  }
  button
  {
    width: 150px;
    background-color: #333;
    color: white;
    margin: 10px 83px 10px 83px;
    padding: 10px;

  }
